<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
                <binding name="WebServiceSoap1" />
                <binding name="WebServiceSoap2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1944/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap"
                name="WebServiceSoap" />
            <endpoint address="http://localhost:1944/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap1" contract="ServiceReference2.WebServiceSoap"
                name="WebServiceSoap1" />
            <endpoint address="http://localhost:29791/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap2" contract="ServiceReference3.WebServiceSoap"
                name="WebServiceSoap2" />
        </client>
    </system.serviceModel>
</configuration>